.part-wrapper {
    margin-bottom: 60px;
}

.part-wrapper .hero-wrapper {
    width: 100%;
    height: 500px;
    background-size: cover;
}

.part-wrapper .hero-wrapper .hero {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.part-wrapper .hero-wrapper .hero .caption {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 70px;
}


.part-wrapper .hero-wrapper .hero .title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}


.part-wrapper .hero-wrapper .hero .subtitle {
    font-size: 20px;
    font-weight: normal;
}

.part-wrapper .text-wrapper {
    color: #000;
    width: 100%;
}

.part-wrapper .text-wrapper .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.part-wrapper .text-wrapper .content {
    font-size: 20px;
    font-weight: normal;
}

.part-wrapper .quote-wrapper {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 30px 20px;
}

.part-wrapper .quote-wrapper .quote {
    position: relative;
    padding: 0 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.part-wrapper .quote-wrapper .quote .icon{
    position: absolute;
    top: 0;
    left: 50px;
}

.part-wrapper .quote-wrapper .quote .data-wrapper {
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    text-align: left;
}

.part-wrapper .quote-wrapper .quote .data-wrapper .data-content{
    margin-bottom: 30px;
}

.part-wrapper .quote-wrapper .quote .data-wrapper .author {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-start;
}

.part-wrapper .quote-wrapper .quote .data-wrapper .author img {
    margin-right: 30px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}


.part-wrapper .quote-wrapper .quote .data-wrapper .author strong {
    margin-right: 5px;
}

.part-wrapper .image-with-text-wrapper, .part-wrapper .image-with-text-wrapper.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.part-wrapper .image-with-text-wrapper.right {
    display: flex;
    flex-direction: row-reverse;
}

.part-wrapper .image-with-text-wrapper .img-wrapper {
    width: 500px;
    height: 500px;
    min-width: 500px;
}


.part-wrapper .image-with-text-wrapper .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part-wrapper .image-with-text-wrapper.left .img-wrapper {
    margin-right: 50px;
}

.part-wrapper .image-with-text-wrapper.right .img-wrapper {
    margin-left: 50px;
}

.part-wrapper .image-with-text-wrapper .content {
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    color: #000;
}

.part-wrapper .title-wrapper {
    display: flex;
    flex-direction: column;
    color: #000;
}

.part-wrapper .title-wrapper .title {
    font-size: 70px;
    line-height: 80px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #000;
}

.part-wrapper .title-wrapper .subtitle {
    font-size: 30px;
    line-height: 36px;
    color: #000;
    font-weight: normal;
    margin: 0 0 40px 0;
}

.part-wrapper .title-wrapper img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.part-wrapper .image-wrapper {
    width: 100%;
}
.part-wrapper .image-wrapper img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}


.part-wrapper .file-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.part-wrapper .file-wrapper .title {
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
}

.part-wrapper .file-wrapper .file {
    font-size: 18px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.part-wrapper .file-wrapper .file a {
    font-size: 18px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.part-wrapper .file-wrapper .file .file-icon {
    margin-right: 30px;
    color: #FB7C6D;
}

.part-wrapper .file-wrapper .filename {
    text-decoration: underline;
    color: #000;
}

.part-wrapper .qwc-wrapper {
    display: flex;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
}

.part-wrapper .qwc-wrapper .title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.part-wrapper .qwc-wrapper .radios {
    margin-bottom: 30px;
}


.part-wrapper .qwc-wrapper .comment-title {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
}

.part-wrapper .qwc-wrapper .qwc-textarea {
    width: 100%;
}

.part-wrapper .qwc-wrapper .btns-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
